.footer
	.footer__row
		.container
			.footer__row-inner
				.footer__col
					.footer__logo
						a.footer__logo-link(href="" target="_blank")
							svg.footer__logo-image
								use(xlink:href="#logo")

					.footer__social
						ul.footer__social-list
							li.footer__social-item
								a.footer__social-item-link(href="" target="_blank")
									svg.footer__social-item-link-image
										use(xlink:href="#vk-logo")

							li.footer__social-item
								a.footer__social-item-link(href="" target="_blank")
									svg.footer__social-item-link-image
										use(xlink:href="#youtube-logo")

							li.footer__social-item
								a.footer__social-item-link(href="" target="_blank")
									svg.footer__social-item-link-image
										use(xlink:href="#tg-logo")

				.footer__col
					nav.footer__menu
						.footer__menu-group
							h4.common__h4.footer__menu-group-heading Продукция
							ul.footer__menu-list
								li.footer__menu-item
									a.footer__menu-item-link(href="") Basic

								li.footer__menu-item
									a.footer__menu-item-link(href="") Professional

								li.footer__menu-item
									a.footer__menu-item-link(href="") Specialty

						.footer__menu-group
							h4.common__h4.footer__menu-group-heading Компания
							ul.footer__menu-list
								li.footer__menu-item
									a.footer__menu-item-link(href="") О нас

								li.footer__menu-item
									a.footer__menu-item-link(href="") Контакты
				
	.footer__row
		.container
			.footer__row-inner
				span.footer__copyright © 2023 Opticell. Все права защищены

				.footer__credits
					a.footer__rules(href="" target="_blank") Политика конфиденциальности
					a.footer__author(href="" target="_blank") Разработка сайта #[span Tommygun]