.video.js-video
	video.video__frame.js-video-frame(src="video/video.mp4" poster="images/video-poster-01.jpg")
	button.video__play-btn.js-play-video-btn
		svg.video__play-btn-icon
			use(xlink:href="#play")
		span.common__text.video__play-btn-label Тестирование литиевых батареек