.where-to-buy
	.where-to-buy__info
		h4.common__h4.where-to-buy__heading Где купить?
		.common__text.where-to-buy__description
			p Приобрести нашу продукцию можно в обычных магазинах вашего города, а также на маркетплейсах.

	ul.where-to-buy__list
		li.where-to-buy__item
			img.where-to-buy__item-image(src="images/logo-round-ozon.png" alt="")
			a.common__btn.where-to-buy__item-link(href="" target="_blank") Купить

		li.where-to-buy__item
			img.where-to-buy__item-image(src="images/logo-round-mm.png" alt="")
			a.common__btn.where-to-buy__item-link(href="" target="_blank") Купить

		li.where-to-buy__item
			img.where-to-buy__item-image(src="images/logo-round-ym.png" alt="")
			a.common__btn.where-to-buy__item-link(href="" target="_blank") Купить

		li.where-to-buy__item
			img.where-to-buy__item-image(src="images/logo-round-wb.png" alt="")
			a.common__btn.where-to-buy__item-link(href="" target="_blank") Купить
