doctype html
html(lang="ru")
	
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		link(rel="stylesheet" href="style/normalize.css" type="text/css")
		link(rel="stylesheet" href="style/nice-select.css" type="text/css")
		link(rel="stylesheet" href="style/swiper.css" type="text/css")
		link(rel="stylesheet" href="style/main.css" type="text/css")
		title Opticell
	
	body
		div(style="display: none")
			include ../../build/images/sprite.svg

		//= partials/header.pug

		main
			.product
				.product__details
					.container
						.product__details-inner
							.product__details-row
								section.inner-intro
									.breadcrumbs
										ul.breadcrumbs__list
											li.breadcrumbs__item
												a.breadcrumbs__item-link(href="") Главная
											li.breadcrumbs__item Батарейки Opticell basic
					
							.product__details-row
								.product__details-col
									.product__gallery
										.product__gallery-thumbs
											ul.product__gallery-thumbs-list
												li.product__gallery-thumbs-item
													img.product__gallery-thumbs-item-image(src="images/products/product/product-01.png" alt="")
												li.product__gallery-thumbs-item
													img.product__gallery-thumbs-item-image(src="images/products/product/product-02.png" alt="")
										.product__gallery-main
											img.product__gallery-main-image(src="images/products/product/product-01.png" alt="")

									.product__kinds
										.product__format
											span.product__format-heading Размер
											ul.product__format-list
												li.product__format-item
													a.product__format-item-link(href="")
														img.product__format-item-image(src="images/battery-aaa.png" alt="")

												li.product__format-item
													a.product__format-item-link(href="")
														img.product__format-item-image(src="images/battery-aa.png" alt="")

												li.product__format-item
													a.product__format-item-link(href="")
														img.product__format-item-image(src="images/battery-c.png" alt="")

												li.product__format-item
													a.product__format-item-link(href="")
														img.product__format-item-image(src="images/battery-9v.png" alt="")

												li.product__format-item
													a.product__format-item-link(href="")
														img.product__format-item-image(src="images/battery-d.png" alt="")

										.product__packages
											span.product__packages-heading Кол-во#[br]в упаковке

											.product__packages-select
												select
													option(value="2") 2 шт.
													option(value="4") 4 шт.
								
								.product__details-col
									.product__info
										h1.common__h1.product__heading OPTICELL щелочные батарейки АА
										p.product__feature Батарейки базовой линейки Opticell размера AA — работают до 15 раз дольше* #[span *по сравнению с солевой батарейкой типа АА. Результаты могут варьироваться в зависимости от устройства и интенсивности использования.]
										
										.product__params
											h4.common__h4.product__params-heading #[span Характеристики]
											ul.product__params-list
												li.product__params-item
													span Форм-фактор батареи
													span AA

												li.product__params-item
													span Выходное напряжение
													span 1,5 V

												li.product__params-item
													span Количество в упаковке, шт
													span 4, 6, 8, 12, 18

												li.product__params-item
													span Страна-изготовитель
													span Китай

												li.product__params-item
													span Емкость, мАч
													span 2400

												li.product__params-item
													span Перезаряжаемость
													span Нет

										button.common__btn.product__buy-btn Купить сейчас
											svg.product__buy-btn-icon
												use(xlink:href="#plus")

				.product__about
					.container
						section.about
							ul.about__list
								li.about__item
									.about__item-info
										h1.common__h1.about__item-heading #[mark Качество] Тестирование батареек
										.common__text.about__item-description
											p Lorem Ipsum — это текст-"рыба», часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной «рыбой» для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
									.about__item-media
										//= partials/video.pug

		//= partials/footer.pug

		script(src="script/vendor.js" type="text/javascript")
		script(src="script/script.js")


