doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="style/normalize.css")
		link(rel="stylesheet" href="style/main.css")
		title Opticell
	body
		main
			section
				p
					a(href="index.html") Index
				p
					a(href="product.html") Product
