.common
	&__h1,
	&__h4
		margin 0
		font-weight 400
		color black

		& span:not([class])
			color $gold

		& mark:not([class])
			display block
			margin 0 0 4px
			font-size 20px
			line-height 24px
			font-weight 500
			color $gold
			text-transform uppercase
			background none

			@media $laptop
				font-size 18px

			@media $tablet
				margin -24px 0 6px
				font-size 16px

			@media $mobile
				margin 0 0 5px

	&__h1
		font-size 80px
		line-height 88px

		@media $laptop
			font-size 64px
			line-height 70px

		@media $tablet
			font-size 40px
			line-height 44px

	&__h4
		font-size 32px
		line-height 32px

		@media $laptop
			font-size 24px
			line-height 24px

		@media $tablet
			font-size 20px
			line-height 20px

	&__text
		font-size 18px
		line-height 27px
		font-weight 400
		color $black

		@media $laptop
			font-size 16px
			line-height 24px

		@media $tablet
			font-size 14px
			line-height 21px

		& p:not([class])
			margin 0

		& p:not([class]) + p:not([class])
			margin 14px 0 0

	&__btn
		display block
		padding 13px 32px 14px 32px
		font-size 18px
		line-height 27px
		font-weight 500
		color $black
		text-align center
		border 3px solid $dust
		border-radius 27px
		transition color .5s 0s ease, border .5s 0s ease

		@media $laptop
			font-size 16px
			line-height 24px

		@media $tablet
			width 100%
			font-size 14px
			line-height 21px

		&:hover
			color $gold
			border 3px solid $gold