$white = #FFFFFF
$black = #231F20
$feather = #BFBEBF
$gray = #A09E9F
$smoke = #F3F3F3
$dust = #E2E2E2
$gold = #D08F55

$desktop-small = "(max-width: 1600px)"
$laptop = "(max-width: 1280px)"
$tablet-landscape = "(max-width: 1220px)"
$tablet-portrait = "(max-width: 800px)"
$mobile = "(max-width: 700px)"