$white = #FFFFFF
$black = #231F20
$feather = #BFBEBF
$gray = #A09E9F
$smoke = #F3F3F3
$dust = #E2E2E2
$gold = #D08F55

$laptop = "(max-width: 1540px)"
$tablet = "(max-width: 1120px)"
$mobile = "(max-width: 660px)"