.about
  &__list
    display flex
    flex-direction column
    gap 160px

  &__item
    display flex
    gap 24px

    &-info
      display flex
      flex-direction column
      align-items flex-start
      width calc(50% - 12px)
      padding 0 9% 0 0

    &-description
      margin 29px 0 0

    &-media
      width calc(50% - 12px)