.media
  display flex
  flex-direction column
  gap 69px

  @media $laptop
    gap 44px

  @media $tablet
    gap 118px

  &__info
    display flex
    align-items flex-end
    gap 24px

    @media $tablet
      align-items flex-start
      gap 16px

    @media $mobile
      flex-direction column
      gap 21px

  &__heading
    width calc(50% - 12px)

    @media $mobile
      width 100%

  &__description
    position relative
    top 5px
    width 30%

    @media $tablet
      width calc(50% - 12px)

    @media $mobile
      width 100%

  &__slider
    position relative
    width 100%
    overflow visible

    &-nav
      position absolute
      right 0
      bottom calc(100% + 64px)
      display flex
      justify-content space-between
      width 152px

      @media $laptop
        bottom calc(100% + 40px)

      @media $tablet
        bottom calc(100% + 24px)
        right 50%
        transform translateX(50%)

      &-btn
        padding 0
        cursor pointer

        &-arrow
          display block
          width 64px
          height 64px
          fill $black
          transition fill .5s 0s ease

  &__list
    height auto

.media__slider-nav-btn:hover
  & .media__slider-nav-btn-arrow
    fill $gold

.media__slider-nav-btn.swiper-button-disabled
  & .media__slider-nav-btn-arrow
    fill $gray
    cursor default