.products-preview
  &__list
    display flex
    flex-direction column
    gap 160px

  &__item
    display flex
    align-items center
    gap 24px

    &:nth-child(odd)
      flex-direction row-reverse

    &-info
      display flex
      flex-direction column
      align-items flex-start
      width calc(50% - 12px)
      padding 0 160px

    &-description
      margin 29px 0 0

    &-link
      margin 24px 0 0

    &-image
      display block
      width calc(50% - 12px)
      border-radius 16px